/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

#logo{
    display: inline-block;
    margin-right : 10px;
}